# behat.yml
default:
  suites:
    default:
      contexts:
        - FeatureContext:
          kernel: '@kernel'
  extensions:
    Behat\Symfony2Extension:
      kernel:
        bootstrap: features/bootstrap/bootstrap.php
        class: App\Kernel
    Behat\MinkExtension:
      default_session: 'symfony2'
      sessions:
        symfony2:
          symfony2: ~
