body {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

h2 {
    font-size: 1rem;
    display: inline;
}

.badge-pill {
    float: right;
}

.checklist-item {
    font-size: 0.8rem;
}

.icon-container {
    height: 50px;
    width: 50px;
    overflow: hidden;
    float: left;
    margin-right: 0.5rem;
}

.list-group-item {
    padding: 0.25rem 1.25rem 0.25rem 0.25rem;
}
