body {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

h2 {
    font-size: 1rem;
    display: inline;
}

.badge-pill {
    float: right;
}

.checklist-item {
    font-size: 0.8rem;
    display: list-item;
    list-style: square inside;
}
