{% extends 'base.html.twig' %}

{% block title %}Next Actions{% endblock %}

{% block main %}
    <div class="list-group">
    {% for card in cards %}
        <a href="#" class="list-group-item list-group-item-action">{{ card.name }}</a>
    {% endfor %}
    </div>
{% endblock %}
