{% extends 'base.html.twig' %}

{% block title %}Next Actions{% endblock %}

{% block main %}
    <div class="list-group">
    {% for action in nextActions %}
        <a href="{{ action.url }}" class="list-group-item list-group-item-action">{{ action.name }}</a>
    {% endfor %}
    </div>
{% endblock %}
